.menu-principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f7f8c9;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.menu-principal h1 {
  margin: 0 0 5px 0;
  font-size: 1.5rem;
  color: #3b260d;
}

.menu-principal .botones {
  display: flex;
  gap: 10px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-principal .botones li {
  margin: 0;
}

.menu-principal .botones button {
  padding: 8px 15px;
  font-size: 0.9rem;
  background-color: #d1b921;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.menu-principal .botones button:hover {
  background-color: #b4931a;
}

.menu-principal .botones button i {
  margin-right: 5px;
}

.modal-detalles {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.modal-detalles.show {
  display: flex;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  max-width: 400px;
  max-height: 80%;
  overflow-y: auto;
}

.productos-pedido {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.producto-detalle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.producto-detalle img {
  max-width: 40px;
  max-height: 40px;
  object-fit: contain;
}

.tabla-pedidos {
  width: 80%;
  border-collapse: collapse;
  margin-top: 20px;
  text-align: center;
  margin-top: 50px;
}

.tabla-pedidos th,
.tabla-pedidos td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.tabla-pedidos th {
  background-color: #f7f8c9;
  color: #3b260d;
}

.tabla-pedidos td {
  button {
    background-color: #d1b921;
    border: none;
    padding: 5px 10px;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 5px;
  }

  button:hover {
    background-color: #b4931a;
  }
}

.tabla-pedidos img {
  width: 50px;
  height: auto;
}

p {
  margin-top: 20px;
  font-size: 1.2rem;
  color: #3b260d;
}

.container {
  display: flex; 
  flex-direction: column; 
  align-items: center; 
}

.tabla-pedidos {
  width: 80%; 
  border-collapse: collapse;
  margin-top: 20px; 
  text-align: center;
}

.tabla-pedidos th,
.tabla-pedidos td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.tabla-pedidos th {
  background-color: #f7f8c9;
  color: #3b260d;
}

.centrar-tabla {
  display: flex;
  justify-content: center; 
  width: 100%; 
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modal-contenido {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 400px; /* Ancho del modal */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.modal-header {
  text-align: center;
}

h5 {
  color: #3b260d;
}

.tabla-pedidos {
  width: 100%;
  border-collapse: collapse;
}

.tabla-pedidos th,
.tabla-pedidos td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.tabla-pedidos th {
  background-color: #f7f8c9;
  color: #3b260d;
}

.tabla-pedidos img {
  width: 50px;
  height: auto;
}

.modal-footer {
  display: flex;
  justify-content: center; 
  margin-top: 20px; 
}

.modal-footer button {
  background-color: #d1b921;
  border: none;
  padding: 10px;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.modal-footer button:hover {
  background-color: #b4931a;
}

.modal-error h2 {
  font-size: 1.3rem;
  color: #e74c3c;
  margin-bottom: 10px;
}

.modal-exito h2 {
  font-size: 1.3rem;
  color: #28a745;
  margin-bottom: 10px;
}

.modal-confirmacion h2 {
  font-size: 1.3rem;
  color: #d1b921;
  margin-bottom: 10px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 1.5em;
  font-weight: bold;
  cursor: pointer;
}

.close:hover {
  color: #333;
}