<app-menu></app-menu>

<main>
  <div class="container mt-4">
    <h2 style="margin-top: 100px;">Mis Pedidos</h2>
    <div class="centrar-tabla">
      <table class="tabla-pedidos">
        <thead>
          <tr>
            <th>Id Pedido</th>
            <th>Fecha Pedido</th>
            <th>Estado</th>
            <th>Total</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let pedido of pedidos">
            <td>{{ pedido.IdPedido }}</td>
            <td>{{ pedido.Fecha_Pedido }}</td>
            <td>{{ pedido.Estado_Pedido }}</td>
            <td>₡{{ pedido.TotalPedido }}</td>
            <td>
              <button class="btn btn-primary" (click)="verDetallesPedido(pedido)">
                Ver Detalles
              </button>
              <button *ngIf="pedido.Estado_Pedido === 'Pendiente'" type="button" class="btn btn-danger" (click)="cancelarPedido(pedido.IdPedido)">Cancelar Pedido</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div *ngIf="pedidoSeleccionado" class="modal" tabindex="-1" style="display: flex;">
      <div class="modal-contenido">
          <div class="modal-header">
              <h5 class="modal-title">Detalles del Pedido #{{ pedidoSeleccionado.IdPedido }}</h5>
              
          </div>
          <div class="modal-body">
              <table class="tabla-pedidos">
                  <thead>
                      <tr>
                          <th>Imagen</th>
                          <th>Nombre del Producto</th>
                          <th>Cantidad</th>
                          <th>Precio</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let producto of pedidoSeleccionado.Productos">
                          <td>
                              <img [src]="producto.Imagen" alt="{{ producto.Nombre_Producto }}" style="width: 50px; height: 50px;">
                          </td>
                          <td>{{ producto.Nombre_Producto }}</td>
                          <td>{{ producto.Cantidad }}</td>
                          <td>₡{{ producto.Precio }}</td>
                      </tr>
                  </tbody>
              </table>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" (click)="cerrarModal()">Cerrar ventana</button>
          </div>
      </div>
  </div>
    
</div>

</main>