<div class="fondo">
  <div class="cuadro-registro">
    <h2>Registro de Usuario</h2>
    <form (ngSubmit)="registrarCliente()">
      <input type="text" [(ngModel)]="cedula" (ngModelChange)="formatearCedula()" maxlength="12" name="cedula" placeholder="Cédula" required />
      <input type="text" [(ngModel)]="nombre" name="nombre" placeholder="Nombre" required />
      <input type="text" [(ngModel)]="apellidos" name="apellidos" placeholder="Apellidos" required />
      <input type="text" [(ngModel)]="direccion" name="direccion" placeholder="Dirección" required />
      <input type="text" [(ngModel)]="telefono" name="telefono" placeholder="Teléfono" required />
      <input type="email" [(ngModel)]="correo" name="correo" placeholder="Correo" required />
      <input type="password" [(ngModel)]="contrasena" name="contrasena" placeholder="Contraseña" required />
      <input type="password" [(ngModel)]="contrasena2" name="repetirContrasena" placeholder="Repetir Contraseña" required />
      <button type="submit">Registrarse</button>
    </form>
    <div class="registro-link">
      <p>¿Ya tienes una cuenta? <a href="#" (click)="redirigir('/inicio'); $event.preventDefault();">Inicia sesión aquí</a></p>
    </div>
  </div>
</div>
